.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.normal-font{
  font-size: 18px;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: purple;
    background-color: transparent;
    border-bottom: 3px solid purple;
}

#global_feet caption{
    color: black;
    font-size: 16px;
}

#global_feet p{
     font-size: 14px;
     color: black;
}

#global_feet a{
    font-size: 14px;
    color: #BA55D3;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: purple;
}



#show_object {
    background-color: rgba(140, 251, 152, 0.1);
}

#show_object div.row {
    height: 60px;
    background-color: rgba(152, 251, 152, 0.2);
}

#show_object .object-name {
    color: #10161b;
    font-size: 1.25em;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

#show_object .object-img {
    height: 60px;
    left: 0;
}

#show_object .object-tags {
    font-size: 14px;
}
