.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.normal-font{
  font-size: 18px;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: purple;
    background-color: transparent;
    border-bottom: 3px solid purple;
}

#global_feet caption{
    color: black;
    font-size: 16px;
}

#global_feet p{
     font-size: 14px;
     color: black;
}

#global_feet a{
    font-size: 14px;
    color: #BA55D3;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: purple;
}



#show_object {
}

#show_object article.col-lg-3 {
    height: 220px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#show_object div.img_div{
    height: 160px;
    width: 160px;
}

#show_object img.img-responsive {
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

#show_object p.object_id {
    display: none;
}

#show_object p.object_type{
    margin: 10px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

#show_object p.object_name {
    margin: 6px 0 0 0;
    font-size: 16px;
}


