.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.normal-font{
  font-size: 18px;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: purple;
    background-color: transparent;
    border-bottom: 3px solid purple;
}

#global_feet caption{
    color: black;
    font-size: 16px;
}

#global_feet p{
     font-size: 14px;
     color: black;
}

#global_feet a{
    font-size: 14px;
    color: #BA55D3;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: purple;
}



#show_object {
}

#show_object article.col-lg-3 {
    height: 220px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#show_object div.img_div{
    height: 160px;
    width: 160px;
}

#show_object img.img-responsive {
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

#show_object p.object_id {
    display: none;
}

#show_object p.object_type{
    margin: 10px 0 0 0;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
}

#show_object p.object_name {
    margin: 6px 0 0 0;
    font-size: 16px;
}



.comment_list {
    background-color: #ffffff;
    padding-top:5px;
    width:900px;
    margin:0 auto;
}
.comment {
    width:900px;
    margin-top:10px;
}
.comment_details {
    border-top: solid purple 2px;
}
.comment_content {
    clear:both;
    margin:5px 50px;
    font-size:18px;
}
.comment_add_or_last {

    margin:0 auto;
    clear: both;
    width:600px;
    height:50px;
    background: #F0F0F0;
    text-align: center;
    font-size:20px;
    line-height: 40px;   //行高（与div保持同高，垂直居中写法）
margin-bottom: 40px;
}
.imgdiv{
    width:80px;
    height:70px;
    float:left;

}
.imgcss {
    width:60px;
    height:60px;
    border-radius: 50%;
}
.comment_name {
    margin-left:10px;
    color:black;
    font-size:16px;
    font-weight: bolder;
}
.layui-icon {
    font-size: 13px;
    color: grey;
}
.del {
    float:right;

}
.del_comment {
    margin-right:50px;
}



